.container {
  background-color: rgb(255, 243, 239);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 25vh;
  color: rgb(251, 167, 10);
  font-weight: 900;
  text-shadow: 0.5px 1px 2px rgb(100, 41, 4);
}

h2 {
  font-family: Arial;
  text-align: center;
  margin: 20px 0px 20px 0px;
}

p {
  font-family: sans-serif;
  text-align: center;
}

img {
  filter: drop-shadow(0.5px 1.5px 1px rgb(186, 185, 185));
}

.breads {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 25vh;
}

.bread {
  margin: -10px;
}

.sesame-bread {
  width: 300px;
  height: 200px;
}

.milk-bread {
  width: 200px;
  height: 150px;
}

.chocolate-bread {
  width: 200px;
  height: 150px;
}

.grape-bread {
  width: 150px;
  height: 150px;
}

.breads button {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.croissants {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25vh;
}

.cheese-croissant {
  width: 250px;
  height: 170px;
}

.welnat-croissant {
  width: 250px;
  height: 130px;
}

.chocolate-croissant {
  width: 200px;
  height: 150px;
}

.milk-croissant {
  width: 200px;
  height: 130px;
}

.loaves {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25vh;
}

.milk-loaf {
  width: 250px;
  height: 150px;
}

.grape-loaf {
  width: 250px;
  height: 200px;
}

.chocolate-inside-loaf {
  width: 300px;
  height: 150px;
}

.chocolate-loaf {
  width: 250px;
  height: 150px;
}

.cakes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25vh;
  flex-wrap: wrap;
}

.sandwichs {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25vh;
  flex-wrap: wrap;
}

.burgers {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 25vh;
}

.drinks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 25vh;
  flex-wrap: wrap;
}

.drink {
  flex-wrap: wrap;
}

.drink img {
  width: 150px;
  height: 250px;
}

.drink .chocolate {
  width: 250px;
  height: 290px;
}

* {
  margin: 0px;
  padding: 0px;
}

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 4vh;
  background-color: peachpuff;
  padding-bottom: 6vh;
}

.logo img {
  border-radius: 100px;
  margin-top: 6vh;
}

ul {
  list-style-type: none;
  display: flex;
}

ul li a {
  text-decoration: none;
  color: rgb(54, 53, 54);
  justify-content: center;
  align-items: center;
  margin: 20px;
}

footer {
  background-color: #E89EA2;
}
footer .footer {
  margin-left: 10vh;
  margin-right: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
footer .footer-L {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3vh;
  margin-bottom: 10vh;
  padding-top: 5vh;
}
footer .footer-L h2 {
  color: #CD7415;
  font-size: xx-large;
}
footer .footer-L img {
  margin-top: 3vh;
  height: 20vh;
  border-radius: 50vh;
}
footer .footer-C {
  display: flex;
  flex-direction: column;
  row-gap: 3vh;
}
footer .footer-C h2 {
  margin-bottom: 1vh;
}
footer .footer-C p {
  color: white;
  margin-bottom: 9vh;
}
footer .footer-R {
  display: flex;
  flex-direction: column;
}
footer .footer-R h2 {
  margin-bottom: 4vh;
}
footer .footer-R p {
  color: white;
  margin-bottom: 14vh;
}
footer .icon {
  display: flex;
  justify-content: end;
  -moz-column-gap: 4vh;
       column-gap: 4vh;
  font-size: xx-large;
  margin-right: 8vh;
}
footer .icon .you-tube {
  margin: 2vh 0;
}
footer .icon .facebook {
  margin: 2vh 0;
}
footer .icon .twinter {
  margin: 2vh 0;
}
footer .icon .instargram {
  color: rgb(218, 8, 8);
  margin: 2vh 0;
}/*# sourceMappingURL=style-product.css.map */