nav {
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 1vh;
  background: rgb(248, 183, 151);
  padding-bottom: 6vh;
}
nav .logo img {
  border-radius: 50vh;
  margin-top: 3vh;
}
nav ul {
  list-style-type: none;
  display: flex;
}
nav ul a {
  justify-content: center;
  align-items: center;
  margin: 20px;
  color: white;
  text-decoration: none;
}
nav ul li a {
  padding: 8px;
  border-radius: 7px;
  transition: all 0.3s ease;
}
nav ul li a.active {
  -webkit-text-decoration: line;
          text-decoration: line;
}
nav ul li a:hover {
  background: rgb(245, 150, 15);
}

.breads {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
}
.breads .bread {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.breads .bread .sesame-bread {
  width: 200px;
  height: 100px;
}
.breads .bread .milk-bread {
  width: 150px;
  height: 100px;
}
.breads .bread .chocolate-bread {
  width: 150px;
  height: 100px;
}
.breads .bread .grape-bread {
  width: 150px;
  height: 100px;
}

.croissants {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
}
.croissants .croissant {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.croissants .croissant .cheese-croissant {
  width: 170px;
  height: 100px;
}
.croissants .croissant .welnat-croissant {
  width: 170px;
  height: 100px;
}
.croissants .croissant .milk-croissant {
  width: 150px;
  height: 100px;
}
.croissants .croissant .chocolate-croissant {
  width: 150px;
  height: 100px;
}

.loaves {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
}
.loaves .loaf {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.loaves .loaf .milk-loaf {
  width: 200px;
  height: 150px;
}
.loaves .loaf .grape-loaf {
  width: 200px;
  height: 150px;
}
.loaves .loaf .chocolate-inside-loaf {
  width: 200px;
  height: 150px;
}
.loaves .loaf .chocolate-loaf {
  width: 200px;
  height: 150px;
}

.cakes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
  margin-left: 40px;
  flex-wrap: wrap;
}
.cakes .cake {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cakes .cake .vanilla-cake {
  width: 150px;
  height: 150px;
}
.cakes .cake .strawberry-milk-cake {
  width: 170px;
  height: 150px;
}
.cakes .cake .strawberry-chocolate-cake {
  width: 150px;
  height: 150px;
}
.cakes .cake .chocolate {
  width: 150px;
  height: 150px;
}
.cakes .cake .macha-cake {
  width: 150px;
  height: 150px;
}

.sandwichs {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
}
.sandwichs .sandwich {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sandwichs .sandwich .ham-sandwich {
  width: 150px;
  height: 150px;
}
.sandwichs .sandwich .salad-sandwich {
  width: 150px;
  height: 150px;
}
.sandwichs .sandwich .tuna-sandwich {
  width: 150px;
  height: 150px;
}
.sandwichs .sandwich .egg-sandwich {
  width: 150px;
  height: 150px;
}
.sandwichs .sandwich .pork-sandwich {
  width: 170px;
  height: 150px;
}

.burgers {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 10vh;
}
.burgers .burger {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.burgers .burger .chicken-burger {
  width: 150px;
  height: 150px;
}
.burgers .burger .ham-burger {
  width: 140px;
  height: 150px;
}
.burgers .burger .beef-burger {
  width: 150px;
  height: 150px;
}
.burgers .burger .chicken-pork-burger {
  width: 170px;
  height: 150px;
}

.cold {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 5vh;
}

.hot {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

.drink {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 10vh;
}
.drink .hot-latte {
  width: 120px;
  height: 110px;
}
.drink .americano {
  width: 100px;
  height: 110px;
}
.drink .honey-lemon {
  width: 100px;
  height: 110px;
}
.drink .orange {
  width: 110px;
  height: 110px;
}
.drink .macha {
  width: 130px;
  height: 170px;
}
.drink .chocolate {
  width: 170px;
  height: 170px;
}
.drink .milk-tea {
  width: 100px;
  height: 170px;
}
.drink .ice-latte {
  width: 100px;
  height: 170px;
}
.drink .macha-cream {
  width: 100px;
  height: 170px;
}

footer {
  font-family: sans-serif;
  background-color: #f2b8a2;
}
footer .footer {
  margin-left: 10vh;
  margin-right: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
footer .footer-L {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 3vh;
  margin-bottom: 10vh;
  padding-top: 3vh;
}
footer .footer-L h2 {
  color: #CD7415;
  font-size: xx-large;
}
footer .footer-L img {
  margin-top: 3vh;
  height: 20vh;
  border-radius: 50vh;
}
footer .footer-C {
  display: flex;
  flex-direction: column;
}
footer .footer-C h2 {
  text-align: start;
  margin-top: 1vh;
  color: #333;
}
footer .footer-C .p {
  display: flex;
  justify-content: flex-start;
  align-items: start;
  flex-direction: column;
  color: white;
}
footer .footer-R {
  display: flex;
  flex-direction: column;
  margin-bottom: 19vh;
}
footer .footer-R h2 {
  color: #333;
}
footer .footer-R p {
  color: white;
}
footer .icon {
  display: flex;
  justify-content: end;
  -moz-column-gap: 4vh;
       column-gap: 4vh;
  font-size: xx-large;
  margin-right: 8vh;
}
footer .icon .you-tube {
  margin: 2vh 0;
}
footer .icon .facebook {
  margin: 2vh 0;
}
footer .icon .twinter {
  margin: 2vh 0;
}
footer .icon .instargram {
  color: rgb(218, 8, 8);
  margin: 2vh 0;
}

button {
  padding: 5px;
  padding-left: 4vh;
  padding-right: 4vh;
  border-radius: 15vh;
  border: none;
  background-color: rgb(255, 168, 68);
  color: rgb(61, 6, 37);
  display: flex;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(2, 0, 1);
  border: 1px solid rgb(187, 182, 182);
  transition: 0.3s;
  cursor: pointer;
}

@media (max-width: 768px) {
  .breads,
  .croissants,
  .loaves,
  .sandwichs,
  .burgers,
  .cakes,
  .cold,
  .hot {
    flex-wrap: wrap;
    justify-content: space-around;
  }
}
@media (max-width: 400px) {
  .breads .strawberry-milk-cake,
  .breads .macha-cake,
  .croissants .strawberry-milk-cake,
  .croissants .macha-cake,
  .loaves .strawberry-milk-cake,
  .loaves .macha-cake,
  .sandwichs .strawberry-milk-cake,
  .sandwichs .macha-cake,
  .burgers .strawberry-milk-cake,
  .burgers .macha-cake,
  .cakes .strawberry-milk-cake,
  .cakes .macha-cake {
    margin-right: 14px;
  }
  button {
    margin-bottom: 20px;
  }
  .cold .macha {
    margin-left: 25px;
  }
  .hot {
    flex-wrap: wrap;
    margin-left: 25px;
  }
}
.container {
  background-color: rgb(255, 228, 204);
  border-top: 0.01px solid rgb(248, 238, 236);
}

h1 {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 5vh;
  margin-top: 5vh;
  color: rgb(255, 149, 0);
  font-weight: bolder;
  text-shadow: 0.5px 0.5px 1px rgb(86, 38, 5);
}

h2 {
  font-family: Arial;
  text-align: center;
  margin: 20px 0px 20px 0px;
  color: rgb(47, 44, 44);
}

.price {
  font-family: sans-serif;
  text-align: center;
  color: rgb(141, 136, 133);
}

p {
  font-family: sans-serif;
  text-align: center;
}

img {
  filter: drop-shadow(0.5px 1.5px 1px rgb(186, 185, 185));
}/*# sourceMappingURL=style-product.css.map */