// nav{
//     // @include font;
//     font-family: sans-serif;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-direction: column;
//     row-gap: 4vh;
//     background-color: lightcoral;
//     padding-bottom: 6vh;
//     .logo img{
//         border-radius: 100px;
//         margin-top: 3vh;
//     }
//     ul{
//         list-style-type: none;
//         display: flex;
//         a{
//             justify-content: center;
//             align-items: center;
//             margin: 20px;
//             color: white;
//         }
//         li a{
//             padding: 8px;
//             border-radius: 7px;
//             transition: all .3s ease;
//         }
//         li a:hover,
//         li a.active{
//             background-color: lightcoral;
//         }

        
//     }
// }
.container{
    background-color: rgb(248, 238, 236);
    border-top: 1px solid lightcoral;
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 5vh;
    margin-top: 5vh;
    color: rgb(255, 149, 0);
    font-weight: 900;
    text-shadow: 0.5px 0.5px 1px rgb(41, 20, 6) ;
}
h2{
    font-family: Arial;
    text-align: center;
    margin: 20px 0px 20px 0px;
    color: rgb(47, 44, 44);
}
p{
    font-family: sans-serif;
    text-align: center; 

}
img{
    filter: drop-shadow(0.5px 1.5px 1px rgb(186, 185, 185));
}
@import"component-p/__nav";
@import"component-p/__breads";
@import"component-p/__croissants";
@import"component-p/__loaves";
@import"component-p/__cakes";
@import"component-p/__sandwichs";
@import"component-p/__burgers";
@import"component-p/__drinks";
@import"component-p/__footer";
@import"component-p/__button";
