*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
nav{
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 4vh;
  background-color: lightcoral;
  padding-bottom: 6vh;
  .logo img{
      border-radius: 100px;
      margin-top: 3vh;
  }
  ul{
      list-style-type: none;
      display: flex;
      a{
          justify-content: center;
          align-items: center;
          margin: 20px;
          color: white;
      }
      li a{
          padding: 8px;
          border-radius: 7px;
          transition: all .3s ease;
      }
      li a:hover,
      li a.active{
          background-color: #FF9F19 ;
      }
      
  }
}
header{
  font-family: sans-serif;
  height: 100vh;
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  h1{
      text-align: center;
      color: #CD7415;
      font-size: 100px;
      margin-top: 5vh;
      margin-right: 60vh;
  }
  span{
      font-size: 4vh;
      padding: 2vh 8vh;
      margin-right: 180vh;
      margin-left: 20vh;
      border-radius: 50vh;
      border: none;
    a{
      color: white;
      text-decoration: none;
    }
  }
}

.head{
    text-align: center;
    padding: 10px;
    background-color: rgb(249, 232, 234);
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    img{
      width: 30vh;
    }
}
.container-contact{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.form-container{
  display: flex;
  justify-content: space-between;
  margin: 20px;
  flex-direction: row;
}
.find-us{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 40px;
    margin: 20px;
}
.card{
    background-color: #E89EA2;
    border-radius: 20px;
    height: 40vh;
    width: 50vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 0.3s;
}
.card:hover{
  transform: translateY(-10px);
}
.off{
  font-size: 30px;
  margin-top: 1rem;
}
#para:hover{
  text-decoration: underline;
}
.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(244, 71, 9);
    padding-top: 20px;
}
.para{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    flex-direction: column;
    #para1{
      font-size: 20px;
      color: white;
    }
}
.form-container{
  margin-right: 4%;
  padding: 20px;
  flex-direction: column;
  background-color: #E89EA2;
  border-radius: 20px;
  width: 140vh;
  height: 80vh;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  transition: transform 0.3s;
  .form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30%;
    background-color: gray;
    color: white;
    width: 30vh;
    height: 10vh;
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .input-group{
    display: flex;
    flex-direction: column;
    gap: 10px;
    .input{
      display: flex;
      flex-direction: row;
      gap: 10px;
    }
  }
}
.form-container:hover{
  transform: translateY(-10px);
}
.number{
  display: flex;
  flex-direction: column;
  margin-right: 20px;
  margin-top: 20px;
  .label{
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
.button{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 5%;
  button{
    border: none;
    border-radius: 10px;
    color: #fff;
    width: 20vh;
    height: 8vh;
    font-size: 20px;
  }
}
.send{
  background-color: #0a90c5;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
.cancel{
  background-color: green;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
button:hover{
  background-color: greenyellow;
}
input, textarea{
  width: 100%;
  padding: 10px;
  gap: 4%;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.map{
  background-image: url(../images/map.png);
  height: 80vh;
  // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

footer{
  font-family: sans-serif;
  background-color: lightcoral;
  .footer{
      margin-left: 10vh;
      margin-right: 10vh;
      display: flex;
      justify-content: center;
      align-items: center;
      justify-content: space-between;
  }
  .footer-L{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      row-gap: 3vh;
      margin-bottom: 10vh;
      padding-top: 3vh;
      h2{
          color: #CD7415;
          font-size: xx-large;
      }
      img{
          margin-top: 3vh;
          height: 20vh;
          border-radius: 50vh;
      }
  }
  .footer-C{
      display: flex;
      flex-direction: column;
      row-gap: 3vh;
      h2{
          margin-bottom: 1vh;
          color: #333;
      }
      .p{
          color: white;
          display: flex;
          flex-direction: column;
          row-gap: 5vh;
      }
  }
  .footer-R{
      display: flex;
      flex-direction: column;
      h2{
          margin-bottom: 4vh;
          color: #333;
      }

      // .number{
      //     color: white;
      //     margin-bottom: 8vh;
      //     display: flex;
      //     justify-content: center;
      //     align-items: center;
      //     flex-direction: column;
      //     row-gap: 6vh;
      // }
  }
  .icon{
      display: flex;
      justify-content: end;
      column-gap: 4vh;
      font-size: xx-large;
      margin-right: 8vh;
      .you-tube{
          margin: 2vh 0;
      }
      .facebook{
          margin: 2vh 0;
      }
      .twinter{
          margin: 2vh 0;
      }
      .instargram{
          color: rgb(218, 8, 8);
          margin: 2vh 0;
      }
  }
}










































// #Responsive mobile 

























*{
    margin: 0px;
    padding: 0px;
}
@import"components/_variable";

@import"components/nav";
@import "components/_header";

@import"components/_container";

@import"components/_map";

@import"components/_footer";
@import"components/group-mixins";




