*{
    margin: 0;
    padding: 0;
}

nav{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 15px;
}

ul{
    list-style-type: none;
    display: flex;
}

ul li a{
    justify-content: center;
    align-items: center;
    margin: 20px;
}

header{
    height: 100vh;
    width: 100;
    background-image: url(../images/backround.jpg);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


