
.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .icon-1{
      color: red;
      display: flex;
      font-size: xx-large;
    }
    .para{
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin: 20px;
      row-gap: 3vh;
    #para1{
      color: $color-white;
      font-size: 20px;
    }
  }
  }