.container-contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    .find-us{
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      gap: 40px;
      margin: 20px;
      .card{
        background-color: $bg-cf;
        border-radius: 20px;
        height: 40vh;
        width: 50vh;
        box-shadow: $box-sd;
        transition: transform 0.3s;
    }
    .card:hover{
      transform: translateY(-10px);
    }
  }
  }

  .form-container{
    margin-right: 4%;
    padding: 20px;
    flex-direction: column;
    background-color: $bg-cf;
    border-radius: 20px;
    width: 140vh;
    height: 80vh;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    transition: transform 0.3s;
    .form-title{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 30%;
      background-color: gray;
      color: $color-white;
      width: 30vh;
      height: 10vh;
      border-radius: 10px;
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
    }
    .input-group{
      display: flex;
      flex-direction: column;
      gap: 10px;
      .input{
        display: flex;
        flex-direction: row;
        gap: 10px;
      }
    }
  }

  .form-container{
    display: flex;
    justify-content: space-between;
    margin: 1.8%;
    margin-right: 3.5%;
    flex-direction: column;
  }

  .form-container:hover{
    transform: translateY(-10px);
  }


  #para:hover{
    text-decoration: underline;
  }

  
  .send{
    background-color: #0a90c5;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }
  .cancel{
    background-color: green;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  }

  button:hover{
    background-color: greenyellow;
  }
  input, textarea{
    width: 100%;
    padding: 10px;
    gap: 4%;
    border: 1px solid #ccc;
    border-radius: 5px;
  }