
.container{
    background-color: rgb(255, 243, 239);
}
h1{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin-bottom: 25vh;
    color: rgb(251, 167, 10);
    font-weight: 900;
    text-shadow: 0.5px 1px 2px rgb(100, 41, 4) ;
}
h2{
    font-family: Arial;
    text-align: center;
    margin: 20px 0px 20px 0px;
}
p{
    font-family: sans-serif;
    text-align: center;
}
img{
    filter: drop-shadow(0.5px 1.5px 1px rgb(186, 185, 185));
}

@import"./components/__breads";
@import"./components/__croissants";
@import"./components/__loaves";
@import"./components/__cakes";
@import"./components/__sandwichs";
@import"./components/__burgers";
@import"./components/__drinks";
@import"./components/__header";
@import"./components/__footer";
