@import"./__variable";
.burgers {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;

    .burger {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .chicken-burger {
            width: 150px;
            height: $hieght-burger;
        }

        .ham-burger {
            width: 140px;
            height: $hieght-burger;
        }

        .beef-burger {
            width: 150px;
            height: $hieght-burger;
        }

        .chicken-pork-burger {
            width: 170px;
            height: $hieght-burger;
        }
    }
}