@import"./__variable";
.cakes {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 10vh;
    margin-left: 40px;
    flex-wrap: wrap;

    .cake {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .vanilla-cake {
            width: 150px;
            height: $hieght-cake;
        }

        .strawberry-milk-cake {
            width: 170px;
            height: $hieght-cake;
        }

        .strawberry-chocolate-cake {
            width: $width-cake;
            height: $hieght-cake;
        }

        .chocolate {
            width: $width-cake;
            height: $hieght-cake;
        }

        .macha-cake {
            width: $width-cake;
            height: $hieght-cake;
        }

    }
}