nav {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1vh;
    background: #E89EA2;
    padding-bottom: 6vh;

    .logo {
        img {
            border-radius: 50vh;
            margin-top: 3vh;
        }
    }

    ul {
        list-style-type: none;
        display: flex;

        a {
            justify-content: center;
            align-items: center;
            margin: 20px;
            color: white;
            text-decoration: none;
        }

        li a {
            padding: 8px;
            border-radius: 7px;
            transition: all .3s ease;
        }

        li a.active {
            text-decoration: line;
        }

        li a:hover,
        li a.active {
            background: lightpink;
        }
    }
}