.sandwichs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 15vh;
    .sandwich{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .ham-sandwich{
            width: 150px;
            height: 130px;
        }
        .salad-sandwich{
            width: 150px;
            height: 130px;
        }
        .tuna-sandwich{
            width: 150px;
            height: 130px;
        }
        .egg-sandwich{
            width: 150px;
            height: 130px;
        }
        .pork-sandwich{
            width: 170px;
            height: 130px;
        }
        
    }
}


