$hieght-bread: 100px;
$hieght-scoissant: 100px;
$hieght-loaves: 150px;
$hieght-sandwichs: 150px;
$hieght-burger: 150px;
$hieght-cake: 150px;
$width-cake: 150px;
$width-loaves: 200px;
$width-bread: 150px;
$hieght-hot-drink: 110px;
$hieght-cold-drink:170px;