$bg-nav: #E89EA2;
$bg-im-header: url(../images/background.jpg);
$color:#CD7415;
$bg-color-span:#FF9F19;
$col:#FF9F19;
$color-white:#ffff;
$bg-color-link: #cb5359;
$color-footer-C-R: #333;
$bg-black:black;
$col-red:red;
$bg-col:#D9D9D9;
