<<<<<<< HEAD
$bg-nav: #ffa4a9;
=======
$bg-nav: #E89EA2;
>>>>>>> 40957a68e4d92264814a929982bf8f02feb91a21
$bg-im-header: url(../images/background.jpg);
$color:#CD7415;
$bg-color-span:#FF9F19;
$col:#FF9F19;
$color-white:#ffff;
$bg-color-link: #cb5359;
$color-footer-C-R: #333;