.breads{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 25vh;
}
.sesame-bread{
    width: 300px;
    height: 200px;
}
.milk-bread{
    width: 200px;
    height: 150px;
}
.chocolate-bread{
    width: 200px;
    height: 150px;
}
.grape-bread{
    width: 150px;
    height: 150px;
}
.breads button{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;    
}