.croissants{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25vh;
}
.cheese-croissant{
    width: 250px;
    height: 170px;
}
.welnat-croissant{
    width: 250px;
    height: 130px;
}
.chocolate-croissant{
    width: 200px;
    height: 150px;
}
.milk-croissant{
    width: 200px;
    height: 130px;
}



