.drinks{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25vh;
    flex-wrap: wrap;
}
.drink{
    flex-wrap: wrap;
}
.drink img{
    width: 150px;
    height: 250px;
}
.drink .chocolate{
    width: 250px;
    height: 290px;
}

