.loaves{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 25vh;

}
.milk-loaf{
    width: 250px;
    height: 150px; 
}.grape-loaf{
    width: 250px;
    height: 200px; 
}
.chocolate-inside-loaf{
    width: 300px;
    height: 150px;
}
.chocolate-loaf{
    width: 250px;
    height: 150px;
}
